/* Basic */
html, body, div, span, iframe, h1, h2, h3, h4, h5, h6, p, pre, a, code, img, ul, li, form, label, legend, footer, header, menu, nav, output, section, table, textarea {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

footer, header, hgroup, menu, nav, section {
  display: block;
}

html {
  box-sizing: border-box;
}

body {
  -webkit-text-size-adjust: none;
  -ms-overflow-style: scrollbar;
  line-height: 1;
  background: #333333;
}
body.is-preload {
  background: #fff;
}

body, input, select, textarea {
  color: rgba(255, 255, 255, 0.55);
  font-family: Verdana, sans-serif font-size: 17pt;
  font-size: 13pt;
  font-weight: normal;
  line-height: 1.75;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body.is-preload *, body.is-preload *:before, body.is-preload *:after {
  -moz-animation: none !important;
  -webkit-animation: none !important;
  -ms-animation: none !important;
  animation: none !important;
  -moz-transition: none !important;
  -webkit-transition: none !important;
  -ms-transition: none !important;
  transition: none !important
}

ul {
  list-style: none;
}

a {
  -moz-transition: color 0.2s ease, border-bottom-color 0.2s ease;
  -webkit-transition: color 0.2s ease, border-bottom-color 0.2s ease;
  -ms-transition: color 0.2s ease, border-bottom-color 0.2s ease;
  transition: color 0.2s ease, border-bottom-color 0.2s ease;
  color: inherit;
  text-decoration: none;
}

p {
  margin: 0 0 2em 0;
}

strong, b {
  font-weight: bold;
}

em, i {
  font-style: italic;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  line-height: 1.5;
}

h1.major {
  margin: 0 0 1.3em 0;
  position: relative;
  padding-bottom: 0.35em;
}

h1.major.alt {
  margin: 0 0 0.5em 0;
}

h1.major:after {
  background: -moz-linear-gradient(to right, #fff, #7437ad, #db1c96);
  background: -webkit-linear-gradient(to right, #fff, #7437ad, #db1c96);
  background: -ms-linear-gradient(to right, #fff, #7437ad, #db1c96);
  background: linear-gradient(to right, #fff, #7437ad, #db1c96);
  -moz-transition: max-width 0.2s ease;
  -webkit-transition: max-width 0.2s ease;
  -ms-transition: max-width 0.2s ease;
  transition: max-width 0.2s ease;
  border-radius: 0.2em;
  bottom: 0;
  content: '';
  height: 0.05em;
  position: absolute;
  right: 0;
  width: 100%;
}

h1.major.alt:after {
  background: -moz-linear-gradient(to right, #028cf2, #db1c96);
  background: -webkit-linear-gradient(to right, #028cf2, #db1c96);
  background: -ms-linear-gradient(to right, #028cf2, #db1c96);
  background: linear-gradient(to right, #028cf2, #db1c96);
}

h1 {
  font-size: 2.75em;
}

h2 {
  font-size: 1.75em;
}

h3 {
  font-size: 1.1em;
}

h4 {
  font-size: 1em;
}

h5 {
  font-size: 0.8em;
}

h6 {
  font-size: 0.6em;
}

hr {
  border: 0;
  border-bottom: solid 1px #f9b8e1;
  margin: 2em 0;
}


hr.major {
  margin: 3em 0;
}

.bold {
  font-weight: bold;
}

.font125 {
  font-size: 1.25em;
}

.font-small {
  font-size: small;
}

.font-normal {
  font-size: normal;
}

.content p {
  margin-bottom: 0;
  text-align: justify;
}

.page p, .font-large {
  font-size: 1.25em;
}

.display-none {
  display: none;
}

.inline {
  display: inline;
}

.inline-block {
  display: inline-block;
}

.width100 {
  width: 100%;
}

.min-width5 {
  min-width: 5.4em;
}

.min-width7 {
  min-width: 7em;
}

.min-width10 {
  min-width: 9em;
}

.min-width20 {
  min-width: 17.8em;
}

.margin-t10 {
  margin-top: .625em
}

.margin-s-b10 {
  margin-bottom: .625em
}

.margin-b20 {
  margin-bottom: 1em
}

.margin-s-b30 {
  margin-bottom: 1.875em
}

.margin-l7 {
  margin-left: 7em
}

.padding-t10 {
  padding-top: .625em;
}

.padding-b10 {
  padding-bottom: .625em;
}

.text-center {
  text-align: center
}

.text-left {
  text-align: left
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify
}

.text-red {
  color: #C0392B
}

.text-green {
  color: #2ECC71
}

.text-blue {
  color: #1170c4
}

.text-white {
  color: #fff
}

.blue {
  background-color: #0a4375;
  border-color: rgba(17, 112, 196, 0.45);
  color: #fff;
}

.blue:hover {
  background-color: #1170c4;
  border-color: rgba(36, 139, 214, 0.5);
}

.white {
  background-color: rgba(255, 255, 255, 0.85);
  border-color: rgba(17, 112, 196, 0.45);
  color: #1170c4;
}

.white:hover {
  background-color: #c9e4ff;
  border-color: #1170c4;
}

.wrap {
  word-wrap: break-word;
}

.nowrap {
  white-space: nowrap;
}

.overflow-hidden {
  overflow: hidden;
}

.show-on-m {
  display: inline;
}

.show-on-s {
  display: none;
}

/* Row */
.row {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  align-items: stretch;
  margin-top: 0;
  margin-left: -1.5em;
}

.row>* {
  box-sizing: border-box;
  padding: 0 0 0 1.5em;
}

.row>.col-1 {
  width: 8.3333333333%;
}

.row>.col-2 {
  width: 16.6666666667%;
}

.row>.col-3 {
  width: 25%;
}

.row>.col-4 {
  width: 33.3333333333%;
}

.row>.col-5 {
  width: 41.6666666667%;
}

.row>.col-6 {
  width: 50%;
}

.row>.col-7 {
  width: 58.3333333333%;
}

.row>.col-8 {
  width: 66.6666666667%;
}

.row>.col-9 {
  width: 75%;
}

.row>.col-10 {
  width: 83.3333333333%;
}

.row>.col-11 {
  width: 91.6666666667%;
}

.row>.col-12 {
  width: 100%;
}

/* Features */
.features {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  border-radius: 0.25em;
  border: solid 1px;
  border-color: rgba(255, 255, 255, 0.15);
  background: rgba(255, 255, 255, 0.05);
  margin: 0 0 2em 0;
}

.features.alt {
  border-color: rgba(17, 112, 196, 0.15);
  background: rgba(17, 112, 196, 0.05);
}

.features.alt span {
  font-weight: bold;
  white-space: nowrap;
}

.features section {
  padding: 2em;
  width: 50%;
  border-top: solid 1px rgba(255, 255, 255, 0.15);
  position: relative;
}

.features.alt section {
  border-top: solid 1px rgba(17, 112, 196, 0.15);
}

.features section:nth-child(-n + 2) {
  border-top-width: 0;
}

.features section:nth-child(2n) {
  border-left: solid 1px rgba(255, 255, 255, 0.15);
}

.features.alt section:nth-child(2n) {
  border-left: solid 1px rgba(17, 112, 196, 0.15);
}

/*Wrapper*/
.wrapper {
  position: relative;
  background-color: #248bd6;
  color: #fff;
}

.wrapper.white {
  background-color: #fff;
  color: #1170c4;
}

.wrapper>.inner {
  padding: 4em 4em 2em 4em;
  width: 100%;
}

.wrapper.fullscreen {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-flex-direction: column;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -moz-justify-content: flex-start;
  -webkit-justify-content: flex-start;
  -ms-justify-content: flex-start;
  justify-content: flex-start;
  min-height: 100vh;
}

body.is-ie .wrapper.fullscreen {
  height: 100vh;
}

.wrapper.fade-up>.inner {
  -moz-transform: translateY(0);
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  -moz-transition: opacity 1s ease, -moz-transform 1s ease;
  -webkit-transition: opacity 1s ease, -webkit-transform 1s ease;
  -ms-transition: opacity 1s ease, -ms-transform 1s ease;
  transition: opacity 1s ease, transform 1s ease;
  opacity: 1;
}

.wrapper.fade-up.inactive>.inner, body.is-preload .wrapper.fade-up>.inner {
  opacity: 0;
  -moz-transform: translateY(1em);
  -webkit-transform: translateY(1em);
  -ms-transform: translateY(1em);
  transform: translateY(1em);
}

/* Wrapper (main) */
#sidebar+#wrapper {
  margin-left: 18em;
}

/* Image */
.image {
  border: 0;
  display: inline-block;
  position: relative;
  width: auto;
  height: auto;
  margin: auto;
  padding: 0.65em;
  border-radius: 100%;
  border: solid 1px;
  border-color: inherit;
  background-color: #fff;
}

.image img {
  display: block;
  border-radius: 100%;
  width: 70px;
  height: 70px;
}

.image.alt {
  border-color: #1170c4;
}

.image.profile {
  width: 170px;
  height: auto;
  padding: 0.1em;
  border-color: #8cc6f7;
  display: inline-block;
  margin-left: 40px;
  border: none;
  background-color: inherit;
}

.image.profile img {
  width: 170px;
  height: auto;
}

.image2 {
  border: 0;
  display: inline-block;
  position: relative;
  margin: auto;
  padding: 0.65em;
  border-radius: 8px;
  border: solid 1px;
  border-color: #8cc6f7;
  background-color: #fff;
}

.image2 img {
  display: block;
  border-radius: 8px;
  width: 16em;
}

.image:first-of-type, .image2:first-of-type {
  margin-top: 1em;
}

.image img:hover, .image2 img:hover {
  moz-transform: scale(1.08, 1.12);
  -webkit-transform: scale(1.08, 1.12);
  -o-transform: scale(1.08, 1.12);
  -ms-transform: scale(1.08, 1.12);
  -webkit-transform: scale(1.08, 1.12);
  transform: scale(1.08, 1.12);
  /*-webkit-transition: transform 0.5s ease-in-out;
  -moz-transition: transform  0.5s ease-in-out;
  -ms-transition: transform  0.5s ease-in-out;*/
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}

/* Table */
table {
  border-collapse: collapse;
  border-spacing: 0;
  margin: 0 0 2em 0;
  width: 100%;
}

table.white:hover {
  background-color: rgba(255, 255, 255, 0.85);
  border-color: rgba(17, 112, 196, 0.45);
  color: #1170c4;
}

table th {
  text-align: left;
  padding: 0.75em 0.75em
}

table tr {
  border: solid 1px;
  border-color: rgba(255, 255, 255, 0.15);
  border-left: 0;
  border-right: 0
}

td {
  padding-right: 0.5em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

td:first-child {
  padding-left: 0.5em;
}

table thead tr {
  background-color: rgba(255, 255, 255, 0.15)
}

table tr:nth-child(2n) {
  background-color: rgba(255, 255, 255, 0.05)
}

table thead {
  border-bottom: solid 2px rgba(255, 255, 255, 0.15)
}

table tfoot {
  border-top: solid 2px rgba(255, 255, 255, 0.15)
}

table a:hover {
  color: #0a4375;
}

table.alt tr {
  border: solid 1px;
  border-color: rgba(17, 112, 196, 0.15);
  border-left: 0;
  border-right: 0
}

table.alt tr:nth-child(2n) {
  background-color: rgba(17, 112, 196, 0.25)
}

table.alt thead tr {
  background-color: rgba(17, 112, 196, 0.65);
  color: #fff;
}

table.alt thead tr:nth-child(2n) {
  background-color: rgba(17, 112, 196, 0.65);
}

table.alt thead {
  border-bottom: solid 2px rgba(17, 112, 196, 0.15)
}

table.alt tfoot {
  border-top: solid 2px rgba(17, 112, 196, 0.15)
}

.table-wrapper {
  -webkit-overflow-scrolling: touch;
  overflow-x: auto;
}

/*Form/Input*/
label {
  color: #ffffff;
  font-weight: bold;
  line-height: 1.5;
  margin: 0 0 0.7em 0;
  display: block;
  font-size: 1.1em;
}

input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input, select, textarea {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
}

input[type="password"], input[type="email"], input[type="tel"], select, textarea {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 0.25em;
  border: none;
  border: solid 1px rgba(255, 255, 255, 0.15);
  color: inherit;
  display: block;
  outline: 0;
  padding: 0 1em;
  text-decoration: none;
  width: 100%;
  height: 2.75em;
}

input[type="text"], input[type="number"], input[type="date"] {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  -moz-transition: border-color 0.2s ease;
  -webkit-transition: border-color 0.2s ease;
  -ms-transition: border-color 0.2s ease;
  transition: border-color 0.2s ease;
  border: .0625em solid;
  border-radius: .25em;
  cursor: pointer;
  font-size: 0.6em;
  font-weight: bold;
  letter-spacing: 0.25em;
  line-height: 2.16em;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  -webkit-app-region: no-drag;
  display: inline;
  height: calc(2.16em + 2px);
  padding: 0;
  margin: 0;
  width: auto;
}

input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input[type="text"]:invalid, input[type="password"]:invalid, input[type="email"]:invalid, input[type="tel"]:invalid, select:invalid, textarea:invalid {
  box-shadow: none;
}

input[type="password"]:focus, input[type="email"]:focus, input[type="tel"]:focus, select:focus, textarea:focus {
  border-color: #ffffff;
  box-shadow: 0 0 0 1px #ffffff;
}

textarea {
  padding: 0.75em 1em;
  -webkit-app-region: no-drag;
}

body.is-ie textarea {
  min-height: 10em;
}

input[type="radio"] {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  display: block;
  float: left;
  margin-right: -2em;
  opacity: 0;
  width: 1em;
  z-index: -1;
}

input[type="radio"]+label {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.55);
  cursor: pointer;
  display: inline-block;
  font-size: 1em;
  font-weight: normal;
  padding-left: 2.4em;
  padding-right: 0.75em;
  position: relative;
}

input[type="radio"]+label:before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-transform: none;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 0.25em;
  border: solid 1px rgba(255, 255, 255, 0.15);
  content: '';
  display: inline-block;
  height: 1.65em;
  left: 0;
  line-height: 1.58125em;
  position: absolute;
  text-align: center;
  top: 0;
  width: 1.65em;
}

input[type="radio"]:checked+label:before {
  background: #fff;
  border-color: #fff;
  color: #4aa9ef;
  font-family: 'Font Awesome\ 5 Free';
  font-weight: 900;
  content: "\f00c"
}

input[type="radio"]:focus+label:before {
  border-color: #ffffff;
  box-shadow: 0 0 0 1px #ffffff;
}

input[type="radio"]+label:before {
  border-radius: 100%;
}

input.white::placeholder {
  -webkit-color: rgba(17, 112, 196, 0.45);
  -moz-color: rgba(17, 112, 196, 0.45);
  -ms-color: rgba(17, 112, 196, 0.45);
  color: rgba(17, 112, 196, 0.45);
}

input.blue::placeholder {
  -webkit-color: rgba(255, 255, 255, 0.45);
  -moz-color: rgba(255, 255, 255, 0.45);
  -ms-color: rgba(255, 255, 255, 0.45);
  color: rgba(255, 255, 255, 0.45);
}

/* Button */
input[type="submit"], input[type="reset"], input[type="button"], button, .button {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  -moz-transition: border-color 0.2s ease;
  -webkit-transition: border-color 0.2s ease;
  -ms-transition: border-color 0.2s ease;
  transition: border-color 0.2s ease;
  border: solid 1px;
  border-radius: 3em;
  cursor: pointer;
  font-size: 0.6em;
  font-weight: bold;
  letter-spacing: 0.25em;
  line-height: 4.75em;
  outline: 0;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
  -webkit-app-region: no-drag;
  display: inline-block;
  position: relative;
  height: calc(4.75em + 2px);
  padding: 0 3.75em;
}

.button.disabled {
  cursor: default;
  opacity: .5;
  pointer-events: none
}

.button.alt {
  line-height: 2.16em;
  vertical-align: middle;
  text-transform: none;
  height: calc(2.16em + 2px);
  width: 12em;
  margin: 0 1em;
  padding: 0 2.16em;
}

.button.prev-next {
  max-width: calc(33% - 6em);
}

input[type="submit"]:after, input[type="reset"]:after, input[type="button"]:after, button:after, .button:after {
  -moz-transform: scale(0.25);
  -webkit-transform: scale(0.25);
  -ms-transform: scale(0.25);
  transform: scale(0.25);
  -moz-pointer-events: none;
  -webkit-pointer-events: none;
  -ms-pointer-events: none;
  pointer-events: none;
  -moz-transition: opacity 0.2s ease, -moz-transform 0.2s ease;
  -webkit-transition: opacity 0.2s ease, -webkit-transform 0.2s ease;
  -ms-transition: opacity 0.2s ease, -ms-transform 0.2s ease;
  transition: opacity 0.2s ease, transform 0.2s ease;
  border-radius: 3em;
  content: '';
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

input[type="submit"]:hover:after, input[type="reset"]:hover:after, input[type="button"]:hover:after, button:hover:after, .button:hover:after {
  opacity: 0.05;
  -moz-transform: scale(1);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

input[type="submit"]:hover:active, input[type="reset"]:hover:active, input[type="button"]:hover:active, button:hover:active {
  border-color: #fff;
}

input[type="submit"]:hover:active:after, input[type="reset"]:hover:active:after, input[type="button"]:hover:active:after, button:hover:active:after, .button:hover:active:after {
  opacity: 0.1;
}

/*Drop-down*/
.main-field {
  display: inline-block;
  min-width: 17.8em;
}

.main-fields-div {
  display: inline-block;
  margin: 0 auto 1.875em auto;
}

.additional-field {
  font-size: 12pt;
  max-width: 12.5em;
  position: absolute;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.drop-down, .drop-down-white {
  position: relative;
  display: inline;
}

.drop-down>a, .drop-down-white>a {
  border: .0625em solid;
  border-radius: .25em;
  padding: .1em .8em;
  margin-bottom: .3125em;
  z-index: 121;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.drop-down>a {
  background-color: #0a4375;
  border-color: rgba(17, 112, 196, 0.45);
  color: #fff;
}

.drop-down-white>a {
  background-color: rgba(255, 255, 255, 0.85);
  border-color: rgba(255, 255, 255, 0.15);
  color: #1170c4;
}

.drop-down>a:hover {
  border-color: rgba(17, 112, 196, 0.85);
  background-color: #1170c4;
}

.drop-down-white>a:hover {
  border-color: rgba(255, 255, 255, 0.55);
  background-color: rgba(255, 255, 255, 0.75);
}

.drop-down-white>a:hover:after {
  opacity: 0.05;
  -moz-transform: scale(1);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1)
}

.drop-down span.caret {
  border-top: .25em solid #fff;
}

.drop-down-white span.caret {
  border-top: .25em solid #1170c4;
}

.drop-down>a:hover .caret {
  border-top: .25em solid #65b3f7;
}

.drop-down-white>a:hover .caret {
  border-top: .25em solid #0a4375
}

.drop-down ul, .drop-down-white ul {
  display: none;
  position: absolute;
  right: .25em;
  list-style-type: none;
  z-index: 120;
  padding: 0;
  margin: 0;
  max-height: 20em;
  overflow-y: auto;
}

.drop-down ul>li, .drop-down-white ul>li {
  padding: 0;
  margin: 0;
}

.drop-down ul>li>a, .drop-down-white ul>li>a {
  display: block;
  padding: 0 0.5em;
  border-radius: .25em;
  white-space: nowrap;
}

.drop-down ul>li>a {
  background-color: #deebf7;
  border-bottom: .0625em solid #1170c4;
  color: #1170c4;
}

.drop-down-white ul>li>a {
  background-color: #0a4375;
  border-bottom: .0625em solid #fff;
  color: #fff;
}

.drop-down ul>li:hover>a {
  background-color: #fff;
  color: #1170c4;
}

.drop-down-white ul>li:hover>a {
  background-color: #1170c4;
  color: #fff;
}

.drop-down input, .drop-down-white input {
  display: inline-block;
  height: 2.6em;
  width: 73.8%;
  margin: 0 auto 0.3125em auto;
  padding: .1em .8em;
  border: .0625em solid;
  border-radius: .25em;
  z-index: 121;
}

.drop-down input:hover, .drop-down input:active {
  border-color: rgba(17, 112, 196, 0.85);
  background-color: #1170c4;
}

.drop-down-white input:hover, .drop-down-white input:active {
  border-color: rgba(255, 255, 255, 0.55);
  background-color: #deebf7;
}

.drop-down .name, .drop-down a, .drop-down-white .name, .drop-down-white a {
  white-space: nowrap;
}

.backtest-dropdown {
  overflow-y: scroll;
  overflow-x: hidden;
}

.backtest-dropdown>li {
  width: 19.3em;
}

/*Header*/
header p {
  color: rgba(255, 255, 255, 0.35);
  position: relative;
  margin: 0 0 1.5em 0;
}

header h2+p {
  font-size: 1.25em;
  margin-top: -1em;
  line-height: 1.5em;
}

header h3+p {
  font-size: 1.1em;
  margin-top: -0.8em;
  line-height: 1.5em;
}

header h4+p, header h5+p, header h6+p {
  font-size: 0.9em;
  margin-top: -0.6em;
  line-height: 1.5em;
}

#header {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  background-color: #248bd6;
  cursor: default;
  padding: 1.75em 2em;
}

#header>.title {
  border: 0;
  color: #ffffff;
  display: block;
  font-size: 1.25em;
  font-weight: bold;
}

#header>nav {
  -moz-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: right;
}

#header>nav>ul {
  margin: 0;
  padding: 0;
}

#header>nav>ul>li {
  display: inline-block;
  margin-left: 1.75em;
  padding: 0;
  vertical-align: middle;
}

#header>nav>ul>li:first-child {
  margin-left: 0;
}

#header>nav>ul>li a {
  border: 0;
  color: rgba(255, 255, 255, 0.35);
  display: inline-block;
  font-size: 0.6em;
  font-weight: bold;
  letter-spacing: 0.25em;
  text-transform: uppercase;
}

#header>nav>ul>li a:hover {
  color: rgba(255, 255, 255, 0.55);
}

#header>nav>ul>li a.active {
  color: #ffffff;
}

#header+#wrapper>.wrapper>.inner {
  margin: 0 auto;
}

/* Footer */
footer.wrapper {
  background-color: #0a5291;
  color: rgba(255, 255, 255, 0.55);
}

footer.wrapper>.inner {
  padding: 1em 4em 1em 4em;
}

#sidebar+#wrapper+#footer {
  margin-left: 18em;
}

#header+#wrapper+#footer>.inner {
  margin: 0 auto;
}

#footer a:hover {
  color: #fff;
}

/* Intro */
.intro {
  background-attachment: fixed;
  background-image: url("images/intro.svg");
  background-position: top right;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.intro.alt {
  background-image: url("images/intro-alt.svg");
}

/* Menu */
ul.menu {
  padding: 0;
}

ul.menu>li {
  border-left: solid 1px rgba(255, 255, 255, 0.15);
  display: inline-block;
  line-height: 1;
  margin-left: 1.5em;
  padding: 0 0 0 1.5em;
}

ul.menu>li:first-child {
  border-left: 0;
  margin: 0;
  padding-left: 0;
}

#downloads li {
  margin-bottom: 0.5em;
}

#downloads a {
  font-size: 0.8em;
  width: 30em;
  max-width: 100%;
}

/* Sidebar */
#sidebar {
  padding: 2.5em 2.5em 0.5em 2.5em;
  background: #0a4375;
  cursor: default;
  height: 100vh;
  left: 0;
  overflow-x: hidden;
  overflow-y: auto;
  position: fixed;
  text-align: right;
  top: 0;
  width: 18em;
  z-index: 100;
}

#sidebar>.inner {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-flex-direction: column;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -moz-transform: translateY(0);
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  -moz-transition: opacity 1s ease;
  -webkit-transition: opacity 1s ease;
  -ms-transition: opacity 1s ease;
  transition: opacity 1s ease;
  min-height: 100%;
  opacity: 1;
  width: 100%;
}

body.is-ie #sidebar>.inner {
  height: 100%;
}

#sidebar nav>ul {
  padding: 0;
}

#sidebar nav>ul>li {
  -moz-transform: translateY(0);
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  -moz-transition: opacity 0.15s ease, -moz-transform 0.75s ease;
  -webkit-transition: opacity 0.15s ease, -webkit-transform 0.75s ease;
  -ms-transition: opacity 0.15s ease, -ms-transform 0.75s ease;
  transition: opacity 0.15s ease, transform 0.75s ease;
  margin: 1.5em 0 0 0;
  opacity: 1;
  padding: 0;
  position: relative;
}

#sidebar nav>ul>li:first-child {
  margin: 0;
}

#sidebar nav>ul>li:nth-child(2) {
  -moz-transition-delay: 0.25s;
  -webkit-transition-delay: 0.25s;
  -ms-transition-delay: 0.25s;
  transition-delay: 0.25s;
}

#sidebar nav>ul>li:nth-child(3) {
  -moz-transition-delay: 0.45s;
  -webkit-transition-delay: 0.45s;
  -ms-transition-delay: 0.45s;
  transition-delay: 0.45s;
}

#sidebar nav>ul>li:nth-child(4) {
  -moz-transition-delay: 0.65s;
  -webkit-transition-delay: 0.65s;
  -ms-transition-delay: 0.65s;
  transition-delay: 0.65s;
}

#sidebar nav>ul>li:nth-child(5) {
  -moz-transition-delay: 0.85s;
  -webkit-transition-delay: 0.85s;
  -ms-transition-delay: 0.85s;
  transition-delay: 0.85s;
}

#sidebar nav>ul>li:nth-child(6) {
  -moz-transition-delay: 1.05s;
  -webkit-transition-delay: 1.05s;
  -ms-transition-delay: 1.05s;
  transition-delay: 1.05s;
}

#sidebar nav>ul>li:nth-child(7) {
  -moz-transition-delay: 1.25s;
  -webkit-transition-delay: 1.25s;
  -ms-transition-delay: 1.25s;
  transition-delay: 1.25s;
}

#sidebar nav>ul>li:nth-child(8) {
  -moz-transition-delay: 1.45s;
  -webkit-transition-delay: 1.45s;
  -ms-transition-delay: 1.45s;
  transition-delay: 1.45s;
}

#sidebar nav>ul>li:nth-child(9) {
  -moz-transition-delay: 1.65s;
  -webkit-transition-delay: 1.65s;
  -ms-transition-delay: 1.65s;
  transition-delay: 1.65s;
}

#sidebar nav>ul>li:nth-child(10) {
  -moz-transition-delay: 1.85s;
  -webkit-transition-delay: 1.85s;
  -ms-transition-delay: 1.85s;
  transition-delay: 1.85s;
}

#sidebar nav>ul>li:nth-child(11) {
  -moz-transition-delay: 2.05s;
  -webkit-transition-delay: 2.05s;
  -ms-transition-delay: 2.05s;
  transition-delay: 2.05s;
}

#sidebar nav>ul>li:nth-child(12) {
  -moz-transition-delay: 2.25s;
  -webkit-transition-delay: 2.25s;
  -ms-transition-delay: 2.25s;
  transition-delay: 2.25s;
}

#sidebar nav a {
  -moz-transition: color 0.2s ease;
  -webkit-transition: color 0.2s ease;
  -ms-transition: color 0.2s ease;
  transition: color 0.2s ease;
  border: 0;
  color: rgba(255, 255, 255, 0.35);
  display: block;
  font-size: 0.7em;
  font-weight: bold;
  letter-spacing: 0.25em;
  line-height: 1.75;
  outline: 0;
  padding: 1.2em 0;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
}

#sidebar nav a:before, #sidebar nav a:after {
  border-radius: 0.2em;
  bottom: 0;
  content: '';
  height: 0.16em;
  position: absolute;
  right: 0;
  width: 100%;
}

#sidebar nav a:before {
  background: #165a8c;
}

#sidebar nav a:after {
  background: -moz-linear-gradient(to right, #4aa9ef, #248bd6);
  background: -webkit-linear-gradient(to right, #4aa9ef, #248bd6);
  background: -ms-linear-gradient(to right, #4aa9ef, #248bd6);
  background: linear-gradient(to right, #4aa9ef, #248bd6);
  -moz-transition: max-width 0.2s ease;
  -webkit-transition: max-width 0.2s ease;
  -ms-transition: max-width 0.2s ease;
  transition: max-width 0.2s ease;
  max-width: 0
}

#sidebar nav a:hover {
  color: rgba(255, 255, 255, 0.55);
}

#sidebar nav a.active {
  color: #ffffff;
}

#sidebar nav a.active:after {
  max-width: 100%;
}

body.is-preload #sidebar>.inner {
  opacity: 0;
}

body.is-preload #sidebar nav ul li {
  -moz-transform: translateY(2em);
  -webkit-transform: translateY(2em);
  -ms-transform: translateY(2em);
  transform: translateY(2em);
  opacity: 0;
}

/*Mobile Menu*/
#mobMenu, #mobMenuBtn {
  display: none;
}

/* Statistics */
.statistics {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  width: 100%;
  margin: 0 0 3em 0;
  padding: 0;
  cursor: default;
  background: linear-gradient(to right, #028cf2, #db1c96);
  border-radius: 8px;
}

.statistics li {
  -moz-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 1.5em;
  text-align: center;
}

.statistics a {
  display: block;
  width: 100%;
  color: rgba(255, 255, 255, 0.65);
}

.statistics a:hover, .statistics li .active {
  color: #fff;
}

/* Timeline */
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  color: #1170c4;
}

.timeline h3 {
  color: #1170c4;
  margin-bottom: 0;
}

.timeline.alt h3 {
  color: #b74e91;
  margin-bottom: 0;
}

.sponsor {
  font-size: small;
  color: #b74e91;
}

.timeline-content {
  padding: 10px 30px;
  background-color: white;
  position: relative;
  border-radius: 6px;
}

/* Timeline vertical ruler */
.timeline::after {
  content: '';
  position: absolute;
  width: 3px;
  background-color: #b74e91;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

.timeline.alt::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  border-left: 3px dotted #4286f4;
}

/* Timeline container around content */
.container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

.left {
  left: 0;
  margin-left: 2px;
}

.right {
  left: 50%;
  margin-left: 2px;
}

/* Arrows next to the left container (pointing right) */
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}

/* Arrows next to the right container (pointing left) */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

/* Timeline circles */
.container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -9px;
  background-color: #1170c4;
  border: 4px solid #fff;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Fix the circle for containers on the right side */
.right::after {
  left: -16px;
}

/*MODAL*/
.modal {
  display: none;
  position: fixed;
  left: 18em;
  top: 2.5em;
  z-index: 101;
  width: calc(100% - 18em);
  margin: auto;
}

.modal.alt>div {
  height: auto;
}

.modal.alt .features section {
  width: 100%;
}

.modal .features {
  border: solid 1px rgba(17, 112, 196, 0.15);
  background: rgba(17, 112, 196, 0.05);
  margin: 0 0 2em 0
}

.modal h1, .modal h2, .modal h3 {
  color: #1170c4;
}

.modal hr {
  border: 0;
  border-bottom: solid 1px rgba(17, 112, 196, 0.85);
  margin: 1.875em 0;
}

.modal>div {
  position: relative;
  overflow-y: auto;
  background-color: #fff;
  color: #1170c4;
  border-radius: .5em;
  border: .0625em solid #1170c4;
  z-index: 102;
  margin: auto;
  width: 90%;
  height: calc(100vh - 5em);
}

.modal>div>div {
  margin: 0 5%;
}

.modal>div>a:first-of-type {
  position: absolute;
  right: .625em;
  top: 0;
}

.modal.img>div {
  height: auto;
  max-height: calc(96vh - 2.5em);
}

.modal.img img {
  margin: 2em auto;
  width: auto;
  max-width: 80vw;
  height: auto;
  max-height: calc(80vh - 4em);
}

.modal input[type="text"], .modal input[type="number"], .modal input, #modalConfirm input[type="text"] {
  width: 10em;
  display: inline;
  border: solid 1px;
  border-color: rgba(17, 112, 196, 0.45);
  border-radius: .25em;
  color: #1170c4;
  height: calc(2.16em + 2px);
  line-height: 2.16em;
  padding: 0;
  margin: 0;
  vertical-align: middle;
}

.modal input[type="text"]:hover, .modal input[type="number"]:hover, #modalConfirm input[type="text"]:hover {
  border-color: #1170c4;
}

.modal input[type="text"]:focus, .modal input[type="number"]:focus, #modalConfirm input[type="text"]:focus {
  border-color: #1170c4;
}

.modal-content {
  background-color: inherit;
  align-items: center;
  justify-content: center
}

.modal-content img {
  width: 100%;
  height: auto
}

.modal-big {
  top: 2.5em;
  left: 18em;
  width: calc(100% - 23em);
  max-height: calc(100vh - 5em);
  margin: 0 2.5em;
  z-index: 10000;
}

.modal-big>div {
  background-color: #fff;
  color: #1170c4;
  margin: 10vh auto 0;
  padding: 1.25em;
  overflow-y: auto;
  position: relative;
  border-radius: .5em;
  border: .0625em solid #1170c4;
  width: auto;
}

.modal-big>div>div {
  text-align: justify;
}

.modal-small {
  top: 15vh;
  left: 9em;
  width: 100%
}

.modal-small>div {
  background-color: #fff;
  color: #1170c4;
  margin: 10vh auto 0;
  padding: 1.25em;
  overflow: hidden;
  position: relative;
  border-radius: .5em;
  border: .0625em solid #1170c4;
  width: 20em
}

#modalConfirm a, .two-buttons a {
  display: inline-block;
  margin: .625em 2%;
  width: 40%
}

#modalConfirm, #modalInfo {
  display: none;
  position: fixed;
  z-index: 1000;
  text-align: center;
}

#modalLoad {
  display: flex;
  position: fixed;
  top: 25vh;
  z-index: 1;
  text-align: center;
  width: calc(100% - .5625em)
}

#modalLoad>div {
  position: relative;
  height: auto;
  margin: 0 auto;
  width: auto
}

/*Other*/
span.caret {
  vertical-align: middle
}

span.caret {
  border-bottom: .25em solid transparent;
  border-top: .25em solid #1170c4;
  border-right: .25em solid transparent;
  border-left: .25em solid transparent;
  border-radius: .0625em;
  display: inline-block;
  height: 0;
  margin: 0 0 .28em .25em;
  width: 0;
  content: "";
  vertical-align: middle;
}

a.expanded>span.caret {
  transform: rotate(180deg)
}

.no-browser-sup {
  display: none;
}

.one-click-select {
  -webkit-touch-callout: all;
  -webkit-user-select: all;
  -khtml-user-select: all;
  -moz-user-select: all;
  -ms-user-select: all;
  user-select: all
}

.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.loading {
  vertical-align: middle;
  display: inline-block;
  width: 1em;
  height: 1em
}

.loading-big {
  vertical-align: middle;
  display: inline-block;
  width: 35%;
}

.rocket-big {
  vertical-align: middle;
  display: inline-block;
  width: 22em;
  height: 8em
}

.indicator-info {
  display: inline-block;
  width: 40%;
  margin: 0 5%;
}

.indicator-img {
  display: inline-block;
  width: 40%;
  margin: 0 5%;
  vertical-align: top;
}

.video {
  text-align: center;
  width: 460px;
  height: 315px;
  margin: 2em 0;
}

#pageContent {
  display: none;
}

#btResultsChart, #btResultsChartNoTrades {
  margin: 2em 0;
  height: 70vh;
  min-height: 30em;
}

#btResultsChart.alt, #btResultsChartNoTrades.alt {
  border: solid 1px rgba(17, 112, 196, 0.15);
}

#strategyName {
  width: 46em;
}

#strategiesTable td:first-child {
  width:80%
}

#btStrategiesTableNav, #opStrategiesTableNav {
  overflow-x: auto;
  white-space: nowrap;
}

#btStrategiesList, #opStrategiesList, #tsStrategiesList {
  right: 1.7em;
}

#closeImgWindowBtn:hover {
  color: #0642db;
}

#btFromDate, #opFromDate {
  margin-left: 0.4em;
}

#updateAvailable {
  display: none;
  position: fixed;
  top: 4em;
  left: 1em;
  z-index: 9999;
  font-size: 0.65em;
  font-weight: bold;
  letter-spacing: 0.25em;
}

#updateAvailable a:hover {
  color: #fff;
}

.blink {
  animation: blinker 2s linear infinite;
  color: #fff;
}

@keyframes blinker {
  50% {
    opacity: 0.25;
  }
}

@-ms-viewport {
  width: device-width;
}

@media screen and (max-width: 12800px) {
  body, input, select, textarea {
    font-size: 12pt;
  }

  .wrapper>.inner {
    width: 100%;
  }

  .wrapper>.inner {
    padding-top: 0.7em;
  }

  .wrapper.fullscreen {
    min-height: calc(100vh - 2.5em);
  }

  body.is-ie .wrapper.fullscreen {
    height: calc(100vh - 2.5em);
  }

  .modal {
    top: 4em;
    left: 0;
    width: 100%;
    height: calc(100vh - 8em)
  }

  .modal-big {
    top: 4em;
    left: 0;
    width: calc(100% - 5em);
    max-height: calc(100vh - 8em);
  }

  .modal-small {
    top: 15vh;
    left: 0;
    width: calc(100% - .5625em)
  }

  #sidebar+#wrapper {
    margin-left: 0;
    padding-top: 3.5em;
  }

  #sidebar+#wrapper+#footer {
    margin-left: 0;
  }

  #sidebar {
    height: 3.5em;
    left: 0;
    line-height: 3.5em;
    overflow: hidden;
    padding: 0;
    text-align: center;
    top: 0;
    width: 100%;
  }

  #sidebar>.inner {
    -moz-flex-direction: row;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -moz-align-items: -moz-stretch;
    -webkit-align-items: -webkit-stretch;
    -ms-align-items: -ms-stretch;
    align-items: stretch;
    height: inherit;
    line-height: inherit;
  }

  #sidebar nav {
    height: inherit;
    line-height: inherit;
  }

  #sidebar nav ul {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    height: inherit;
    line-height: inherit;
    margin: 0;
  }

  #sidebar nav ul li {
    display: block;
    height: inherit;
    line-height: inherit;
    margin: 0 0 0 2em;
    padding: 0;
  }

  #sidebar nav a {
    height: inherit;
    line-height: inherit;
    padding: 0;
  }

  #updateAvailable {
    top: 0em !important;
  }
}

@media screen and (max-width: 980px) {
  .row>.col-12-medium {
    width: 100%;
  }

  .features {
    display: block;
  }

  .features section {
    border-top-width: 1px;
    border-left-width: 0;
    width: 100%;
  }

  .features section:nth-child(-n + 2) {
    border-top: solid 1px rgba(17, 112, 196, 0.15);
  }

  .features section:first-child {
    border-top-width: 0;
  }

  .image2 {
    margin-left: 1em;
    margin-right: 1em;
    width: calc(100% - 2em);
  }

  .image2 img {
    width: 100%
  }

  #sidebar nav a {
    font-size: 0.6em;
    letter-spacing: 0.1em;
  }

  /*Statistics Mob*/
  .statistics {
    display: block;
    width: 20em;
    max-width: 100%;
    margin: 0 auto 2em auto;
    background: none;
  }

  .statistics li.style1 {
    background: -moz-linear-gradient(to right, #028cf2, #1e73ce);
    background: -webkit-linear-gradient(to right, #028cf2, #1e73ce);
    background: -ms-linear-gradient(to right, #028cf2, #1e73ce);
    background: linear-gradient(to right, #028cf2, #1e73ce);
  }

  .statistics li.style2 {
    background: -moz-linear-gradient(to right, #1e73ce, #2c5bc1);
    background: -webkit-linear-gradient(to right, #1e73ce, #2c5bc1);
    background: -ms-linear-gradient(to right, #1e73ce, #2c5bc1);
    background: linear-gradient(to right, #1e73ce, #2c5bc1);
  }

  .statistics li.style3 {
    background: -moz-linear-gradient(to right, #2c5bc1, #403ec9);
    background: -webkit-linear-gradient(to right, #2c5bc1, #403ec9);
    background: -ms-linear-gradient(to right, #2c5bc1, #403ec9);
    background: linear-gradient(to right, #2c5bc1, #403ec9);
  }

  .statistics li.style4 {
    background: -moz-linear-gradient(to right, #403ec9, #7437ad);
    background: -webkit-linear-gradient(to right, #403ec9, #7437ad);
    background: -ms-linear-gradient(to right, #403ec9, #7437ad);
    background: linear-gradient(to right, #403ec9, #7437ad);
  }

  .statistics li.style5 {
    background: -moz-linear-gradient(to right, #7437ad, #af21ab);
    background: -webkit-linear-gradient(to right, #7437ad, #af21ab);
    background: -ms-linear-gradient(to right, #7437ad, #af21ab);
    background: linear-gradient(to right, #7437ad, #af21ab);
  }

  .statistics li.style6 {
    background: -moz-linear-gradient(to right, #af21ab, #db1c96);
    background: -webkit-linear-gradient(to right, #af21ab, #db1c96);
    background: -ms-linear-gradient(to right, #af21ab, #db1c96);
    background: linear-gradient(to right, #af21ab, #db1c96);
  }

  .statistics li:first-child {
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
  }

  .statistics li:last-child {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }

  .modal>div {
    width: 90%;
    height: calc(90vh - 5em);
    height: calc((var(--vh, 1vh) * 100) - 5em);
  }

  .modal.img img {
    width: auto;
    max-width: 80vw;
  }

  .additional-field {
    max-width: 9.2em;
  }
}

@media screen and (max-width: 736px) {
  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1.25em;
  }

  h3 {
    font-size: 1em;
  }

  h4 {
    font-size: 0.8em;
  }

  h5 {
    font-size: 0.6em;
  }

  h6 {
    font-size: 0.6em;
  }

  .main-fields-div {
    display: block;
    width: 100%;
  }

  .show-on-s {
    display: inline-block;
  }

  .show-on-m {
    display: none;
  }

  .row>.col-12-small {
    width: 100%;
  }

  .features section {
    padding: 2.5em 1.5em 0.1em 5.5em;
  }

  .image2 {
    margin-left: 1em;
    margin-right: 1em;
    width: calc(100% - 2em);
  }

  .image2 img {
    width: 100%;
  }

  .intro p, .page p, .font-large {
    font-size: 1em;
  }

  .wrapper>.inner {
    padding: 3em 2em 1em 2em;
  }

  .wrapper.fullscreen {
    padding: 2em 0;
    min-height: 0;
  }

  body.is-ie .wrapper.fullscreen {
    height: auto;
  }

  td {
    padding-right: 0.3em;
  }

  /*Drop-down Mob*/
  .drop-down, .drop-down-white {
    display: block;
    width: 100%
  }

  .drop-down>a, .drop-down-white>a {
    display: block;
    width: 100%
  }

  .drop-down ul, .drop-down-white ul {
    width: 100%;
    right: 0;
  }

  .drop-down input, .drop-down-white input {
    width: 100%;
    right: 0;
  }

  .backtest-dropdown>li {
    width: 100%;
  }

  /*Timeline Mob*/
  .timeline::after {
    left: 31px;
  }

  .timeline.alt::after {
    left: 31px;
  }

  .container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

  /* Timeline - all arrows pointing left*/
  .container::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }

  /* Timeline - all circles at the same spot */
  .left::after, .right::after {
    left: 15px;
  }

  /* Timeline - all right containers behave like the left ones */
  .right {
    left: 0%;
  }

  /*Other Mob*/
  .indicator-info {
    width: 90%;
  }

  .indicator-img {
    margin-top: 2em;
    width: 90%;
  }

  .video {
    width: 100%;
    height: 250px;
  }

  #header {
    padding: 1em 2em;
  }

  #sidebar+#wrapper {
    padding-top: 0;
  }

  #sidebar {
    text-align: right;
    height: 2.5em;
    line-height: 2.5em;
  }

  #sidebar>.inner>nav {
    display: none;
  }

  #mobMenuBtn {
    padding: 0.2em;
    margin-right: 0.65em;
    display: inline;
    font-size: 1.8em;
  }

  #mobMenu {
    position: fixed;
    top: 2.5em;
    z-index: 100;
    background: #1170c4;
    width: 100%;
  }

  #mobMenu>ul {
    text-align: center;
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
  }

  #mobMenu>ul>li>a {
    display: block;
    width: 100%;
    border: 0;
    color: rgba(255, 255, 255, 0.55);
    display: block;
    font-size: 1em;
    font-weight: bold;
    letter-spacing: 0.10em;
    padding: 0.5em 1em 0.5em 0;
    text-align: right;
    position: relative;
  }

  #mobMenu a:before, #mobMenu a:after {
    border-radius: 0.07em;
    bottom: 0;
    content: '';
    height: 0.07em;
    position: absolute;
    right: 0;
    width: 80%;
    right: 1em;
  }

  #mobMenu a:before {
    background: #165a8c;
  }

  #mobMenu a:after {
    background: -moz-linear-gradient(to right, #4aa9ef, #248bd6);
    background: -webkit-linear-gradient(to right, #4aa9ef, #248bd6);
    background: -ms-linear-gradient(to right, #4aa9ef, #248bd6);
    background: linear-gradient(to right, #4aa9ef, #248bd6);
    max-width: 0;
  }

  #mobMenu a.active {
    color: #ffffff;
  }

  #mobMenu a.active:after {
    max-width: 80%;
  }

  #strategyName {
    width: 100%;
    display: inline-block;
  }

  #btStrategiesList, #opStrategiesList {
    right: 0;
  }

  #btInstrumentSearch, #opInstrumentSearch, #btFeeSearch {
    min-width: 5em;
    width: 100%;
    display: block;
    min-height: 3.5em;
  }

  #btFromDate, #btToDate, #opFromDate, #opToDate {
    display: inline-block;
    width: calc(50% - 2em);
    min-height: 3.5em;
    margin-left: 0;
  }

  #btPeriodFrom, #opPeriodFrom, #opStopLossTarget, #opOptType {
    display: block;
    width: 100%;
  }

  #opStopLossTargetDiv {
    margin: 1.5em 0;
  }
}

@media screen and (max-width: 480px) {
  html, body {
    min-width: 320px;
  }

  .row>.col-12-xsmall {
    width: 100%;
  }

  .features section {
    padding: 2em 1.5em 0.1em 1.5em;
  }

  ul.menu>li {
    border-left: 0;
    display: block;
    line-height: inherit;
    margin: 0.5em 0 0 0;
    padding-left: 0;
  }

  #header {
    display: block;
    padding: 0 2em;
    text-align: left;
  }

  #header .title {
    font-size: 1.25em;
    padding: 1em 0;
  }

  #header>nav {
    border-top: solid 1px rgba(255, 255, 255, 0.15);
    text-align: inherit;
  }

  #header>nav>ul>li {
    margin-left: 1.5em;
  }

  #header>nav>ul>li a {
    height: 6em;
    line-height: 6em;
  }
}

@media screen and (max-width: 360px) {
  body, input, select, textarea {
    font-size: 11pt;
  }
}
